/* HomePaage */
.HomePage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10.33px 40.333px 80.333px;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    background-color: #f5fcff;
}

.Home_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px
}

.Home_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.33px;
}

.Home_header{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.33px;
}

.Home_content>button {
    margin-top: 10px;
}

.Home_heading {
    color: #282938;
    font-size: 54px;
    line-height: 75px;
    align-self: stretch;
}

.description {
    color: #1c1e53;
    font-size: 23px;
    font-weight: 400;
    line-height: 36px;
}

.Home_img {
    display: flex;
}

 .Home_img > img{
   width: 370px;
   height: 340px;
}

.btn {
    font-family: "Roboto";
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.5s;
}

.btn-outline-primary {
    color: #5c3bcc;
    background-color: #fff;
    border: 1px solid #5c3bcc;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #5c3bcc;
}

.btn-primary {
    color: #fff;
    background-color: #5c3bcc;
    border: 1px solid #5c3bcc;
}

.btn-primary:hover {
    color: #5c3bcc;
    background-color: #fff;
}
